.style_department {
      color: #000;
      background: #F0F0F0 none repeat scroll 0% 0%;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid #CBCCCB;
}
.style_company {
      /*color: #000;
      background: #EBF3F9 none repeat scroll 0% 0%;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid #CEDAFF;*/
      color: #000;
      background: #F0F0F0 none repeat scroll 0% 0%;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid #CBCCCB;
}
